<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.crm.mapper.CnCheckDeclareMapper">


    <select id="findLastByEntityName" resultType="cnCheckDeclare">
        select *
        from cn_check_declare
        where entity_name = #{entityName}
        order by id desc
        limit 1
    </select>

</mapper>