<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deloitte.additional.recording.mapper.PrsModelQualMapper">


    <select id="queryByPageStatsdetail" parameterType="java.lang.String"
            resultType="com.deloitte.additional.recording.vo.DataListPageTataiVo">
        SELECT
        model.id as id,
        model.qual_code as qualCode,
        model.qual_name as qualName,
        model.description as description
        FROM(
        SELECT
        t2.ver_mas_id,
        t2.qual_code
        FROM
        prs_ver_mas_qual t2
        LEFT JOIN (
        SELECT
        m.id,
        m.prj_id,
        m.model_code,
        prs.NAME,
        prs.time_value
        FROM
        prs_project_versions prs
        LEFT JOIN prs_version_master m ON prs.id = m.prj_id AND m.`status`=1 and prs.`status`=1
        <where>
            <if test="name!=null and name!=''">
                prs.`name`= #{name}
            </if>
            <if test="timeValue!=null and timeValue!=''">
                AND prs.`time_value`= #{timeValue}
            </if>
            <if test="modelCode!=null and modelCode!=''">
                AND m.`model_code`= #{modelCode}
            </if>
        </where>

        ) t1 ON t2.ver_mas_id = t1.id AND t2.`status`=1
        WHERE
        t2.ver_mas_id = t1.id
        ) t3
        LEFT JOIN prs_model_qual model ON t3.qual_code = model.qual_code
        WHERE
        t3.qual_code = model.qual_code AND model.`status`=1
    </select>


    <select id="selectByMasterAndVersion" resultType="com.deloitte.additional.recording.vo.qual.PrsQualDataSelectVO">
        SELECT id,
               qual_name as qualName,
               qual_code as qualCode
        FROM prs_model_qual mq
        WHERE 1 = 1
          AND EXISTS(
                SELECT qual_code
                FROM prs_ver_mas_qual vmq
                WHERE mq.qual_code = vmq.qual_code
                  AND vmq.ver_mas_id = (SELECT id
                                        FROM prs_version_master vm
                                        WHERE vm.prj_id = #{versionId} AND vm.model_code = #{modelCode})
            )

    </select>

    <select id="getNameByCode" resultType="string">

        SELECT qual_name
        FROM prs_model_qual
        where qual_code = #{code}
    </select>
</mapper>